.grid--2cols {
  width: 70%;
  margin: 0 auto;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  align-items: center;

  @include respond(tab-land) {
    width: 80%;
  }

  @include respond(tab-port) {
    width: 90%;
  }

  @include respond(phone) {
    width: 90%;
    grid-template-columns: 1fr;
    gap: 8em;
  }
}

.grid--4cols {
  width: 70%;
  margin: 0 auto;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 4rem;
  align-items: center;

  @include respond(tab-land) {
    width: 80%;
  }

  @include respond(tab-port) {
    width: 90%;
  }

  @include respond(phone) {
    width: 90%;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}

.grid--3cols {
  width: 70%;
  margin: 0 auto;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 6rem;
  align-items: center;

  @include respond(tab-land) {
    width: 80%;
  }

  @include respond(tab-port) {
    width: 90%;
  }

  @include respond(phone) {
    width: 60%;
    grid-template-columns: 1fr;
    gap: 8rem;
  }
}
