.story {
  width: 60%;

  margin: 0 auto;
  background-color: rgba($color-white, 0.8);
  padding: 7rem;
  padding-left: 10rem;
  margin-bottom: 6rem;
  box-shadow: 0 3rem 6rem rgba($color-black, 0.15);
  transform: skewX(-12deg);

  transition: all 0.5s;
  border-bottom: 3px solid $color-white;

  & > * {
    transform: skewX(12deg);

    @include respond(phone) {
      transform: skewX(0deg);
    }
  }

  @include respond(tab-land) {
    width: 90%;

    padding: 4rem;
    padding-left: 7rem;
  }

  @include respond(tab-port) {
    padding: 3rem;
    padding-left: 6rem;
  }

  @include respond(phone) {
    transform: skewX(0deg);
  }

  &__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    border-radius: 50%;
    shape-outside: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem) skewX(12deg);
    position: relative;

    @include respond(phone) {
      width: 12rem;
      height: 12rem;

      transform: translateX(-3rem) skew(0deg);
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    transform: scale(1.1);
    transition: all 0.3s;
  }

  &__text-box {
  }

  &__caption {
    font-size: 1.8rem;
    color: $color-white;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    opacity: 0;
    transition: all 0.3s;
  }

  &:hover &__caption {
    opacity: 1;
    transform: translate(-50%, -50%);
  }

  &:hover &__img {
    background-size: cover;
    filter: blur(2px) brightness(70%);
    transform: scale(1);
  }

  &:hover {
    border-bottom: 3px solid $color-primary;
  }
}
