@keyframes moveToRight {
  0% {
    opacity: 0;
    transform: translateX(-150%);
  }
  80% {
    transform: translateX(1%);
  }
  90% {
    transform: translateX(-1%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes moveToLeft {
  0% {
    opacity: 0;
    transform: translateX(150%);
  }
  80% {
    transform: translateX(-1%);
  }
  90% {
    transform: translateX(1%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes moveToTop {
  0% {
    opacity: 0;
    transform: translateY(400%);
  }
  80% {
    transform: translateY(-1%);
  }
  90% {
    transform: translateY(1%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes backgroundColorToRight {
  0% {
    background-position: left;
  }

  100% {
    background-position: right;
  }
}
